name: ci

on:
  push:
    paths:
      - src/**
    branches:
      - main

permissions:
  contents: write

jobs:
  docker:
    runs-on: ubuntu-latest
    outputs:
      commit_id: ${{ steps.vars.outputs.commit_id }}
    steps:
      -
        name: Set commit id
        id: vars
        shell: bash
        run: echo "commit_id=${GITHUB_SHA::6}" >> "$GITHUB_OUTPUT"
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: kittyiv/python-app-jeff:${{ steps.vars.outputs.commit_id }}

  cd:
    needs: docker
    runs-on: self-hosted
    steps:

      - uses: actions/checkout@v3

      - name: Modify values file
        shell: bash
        run: |
          echo ${{needs.docker.outputs.commit_id}}
          YQ_BIN="$RUNNER_TEMP/yq"
          curl -fsSL -o "$YQ_BIN" https://github.com/mikefarah/yq/releases/download/v4.45.1/yq_linux_amd64
          chmod +x "$YQ_BIN"
          "$YQ_BIN" e -i '.image.tag = "${{needs.docker.outputs.commit_id}}"' charts/python-app/values.yaml

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Updates values.yaml with commit ${{needs.docker.outputs.commit_id}}'

      - name: Install argocd
        shell: bash
        run: |
          ARGOCD_BIN="$RUNNER_TEMP/argocd"
          curl -kfsSL -o "$ARGOCD_BIN" https://argocd-server.argocd/download/argocd-linux-amd64
          chmod +x "$ARGOCD_BIN"
          echo "$RUNNER_TEMP" >> "$GITHUB_PATH"

      - name: Argocd app sync
        shell: bash
        run: |
          argocd login argocd-server.argocd \
            --insecure  \
            --grpc-web \
            --username admin \
            --password  ${{ secrets.ARGOCD_PASSWORD }}
          argocd app sync python-app
